.login-container {
    margin: 20px;
    text-align: center;

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;

        .input {
            width: 30%;
        }
    }

    .link {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-family: Source Sans Pro, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.334;
        color: #70d8bd;
    }
}